@page "/TestUnauthorized"

@using ProductReviewAungAndBryant.Client.Static

@inject HttpClient _client
@inject HttpInterceptorService _interceptor
@implements IDisposable

<h3>TestUnauthorized</h3>

@code {
    protected override async Task OnInitializedAsync()
    {
        try
        {
            _interceptor.MonitorEvent();
            var result = await _client.GetAsync($"{Endpoints.GlobalErrorHandleEndPoint}/GetUnauthorized");
        }
        catch (AccessTokenNotAvailableException exception)
        {
            exception.Redirect();
        }
        catch
        {

        }
    }

    public void Dispose()
    {
        _interceptor.DisposeEvent();
    }
}